body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#hero {
    background: url(https://i.pinimg.com/originals/ae/41/db/ae41db0d1dcb9eea71707ec56d14d209.jpg) no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.about-section {
    background: url(https://th.bing.com/th/id/OIP.EwbatycHx_915hcNzd7vRgHaE8?pid=ImgDet&rs=1) no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

#about {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

#about h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

#about h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

#about p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

.classes-section,
.pricing-section,
.contact-section {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
    color:#333
}

.class-card,
.pricing-plan {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    text-align: left;
}

.class-card img,
.pricing-plan img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


.pricing-plans {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pricing-plan {
    flex: 0 0 48%;
    text-align: center;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex column 
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-size: 24px;
    color: #333;
}

.price i {
    margin-right: 5px;
}
#contact {
    text-align: center;
    padding: 100px 0; /* Add padding to the contact section to center it vertically */
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center; /* Center contact info horizontally */
    margin-bottom: 10px;
}

.contact-info i {
    font-size: 24px;
    margin-right: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0; /* Increase padding for the footer */
    width: 100%;
    position: relative;
    bottom: 0;
}